.oxi-addons-flip-box-style-15 * {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
    text-decoration: none
}

.oxi-addons-flip-box-style-15 {
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 5px 5px 5px 5px;
}

.oxi-addons-flip-box-style-15 .oxi-addons-flip-boxes-body:after {
    padding-bottom: 107.14285714286%;
    content: "";
    display: block
}

.oxi-addons-flip-box-style-15 .oxi-addons-flip-box-front-section-box {
    width: 100%;
    height: 100%;
    float: left;
}

.oxi-addons-flip-box-style-15 .oxi-addons-flip-box-front-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: #55c7dc;
    border-radius: 5px;
    background-color: rgba(61, 90, 254, 1);
    padding: 10px;
    box-shadow: 0px 0px 6px 0px rgba(242, 242, 242, 0.52);
}

.oxi-addons-flip-box-style-15 .oxi-addons-flip-box-front-headding {
    width: 100%;
    position: relative;
    color: #ffffff;
    text-align: Center;
    font-size: 22px;
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    padding: 10px 10px 10px 10px;
}

.oxi-addons-flip-box-style-15 .oxi-addons-flip-box-front-headding-border {
    position: absolute;
    left: 50%;
    bottom: 0%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 60px;
    height: 2px;
    background-color: #55c7dc;
}

.oxi-addons-flip-box-style-15 .oxi-addons-flip-box-front-info {
    width: 100%;
    line-height: 180%;
    color: #ffffff;
    text-align: Center;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    padding: 10px 10px 10px 10px;
}

.oxi-addons-flip-box-style-15 .oxi-addons-flip-box-back-section-box {
    width: 100%;
    height: 100%;
    float: left;
}

.oxi-addons-flip-box-style-15 .oxi-addons-flip-box-back-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: #55c7dc;
    border-radius: 5px;
    background: rgba(193, 185, 212, 0.29);
    padding: 10px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.28);
}

.oxi-addons-flip-box-style-15 .oxi-addons-flip-box-back-icon {
    padding: 10px 10px 10px 10px;
    text-align: center;
    width: 100%
}

.oxi-addons-flip-box-style-15 .oxi-addons-flip-box-back-icon i {
    font-size: 60px;
    width: 60px;
    height: 60px;
    color: #3d5afe;
    background: rgba(104, 81, 237, 0.00);
    line-height: 60px;
    border-width: 0px;
    border-style: none;
    border-color: #6048e8;
    border-radius: 0px 0px 0px 0px
}

.oxi-addons-flip-box-style-15 .oxi-addons-flip-box-back-button {
    width: 100%;
    float: left;
    text-align: center;
    padding: 10px
}

.oxi-addons-flip-box-style-15 .oxi-addons-flip-box-back-button-data {
    display: inline-block;
    color: #ffffff;
    background-color: rgba(61, 90, 254, 1);
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal;
    padding: 10px 20px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
}

.oxi-addons-flip-box-style-15 .oxi-addons-flip-box-back-button-data:hover {
    color: #3d5afe;
    background: rgba(255, 255, 255, 1.00);
    border-style: none;
    border-color: #fff;
    border-radius: 40px 40px 40px 40px
}