.oxi-addons-flip-box-style-14 * {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
    text-decoration: none
}

.oxi-addons-flip-box-style-14 {
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 5px 5px 5px 5px;
    border-radius: 6px 6px 6px 6px;
}

.oxi-addons-flip-box-style-14 .oxi-addons-flip-boxes-body:after {
    padding-bottom: 117.85714285714%;
    content: "";
    display: block
}

.oxi-addons-flip-box-style-14 .oxi-addons-flip-box-front-section-box {
    width: 100%;
    height: 100%;
    float: left;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #fafafa;
    background-color: rgba(169, 0, 199, 1);
    box-shadow: 0px 0px 6px 0px rgba(235, 230, 230, 0.58);
    padding: 5px;
}

.oxi-addons-flip-box-style-14 .oxi-addons-flip-box-front-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: #fafafa;
    border-radius: 6px 6px 6px 6px;
    padding: 0px
}

.oxi-addons-flip-box-style-14 .oxi-addons-flip-box-front-icon {
    text-align: center;
    width: 100%
}

.oxi-addons-flip-box-style-14 .oxi-addons-flip-box-front-icon-box {
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 1.00);
    border-width: 0px;
    border-style: none;
    border-color: #999999;
    border-radius: 0px 0px 40px 40px;
    position: relative;
    top: 0;
    margin: 0 auto
}

.oxi-addons-flip-box-style-14 .oxi-addons-flip-box-front-icon .oxi-number {
    font-size: 30px;
    color: #a900c7;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 0px 10px 0px
}

.oxi-addons-flip-box-style-14 .oxi-addons-flip-box-front-headding {
    width: 100%;
    color: #ffffff;
    text-align: Center;
    font-size: 22px;
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    padding: 10px 6px 6px 6px;
}

.oxi-addons-flip-box-style-14 .oxi-addons-flip-box-front-info {
    width: 100%;
    color: #ffffff;
    text-align: Center;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal;
    padding: 6px 6px 6px 6px;
}

.oxi-addons-flip-box-style-14 .oxi-addons-flip-box-back-section-box {
    width: 100%;
    height: 100%;
    float: left;
    padding: 5px 5px 5px 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #c7c7c7;
    border-radius: 5px;
    background-color: rgba(237, 237, 237, 1);
    box-shadow: 0px 0px 6px 0px rgba(235, 230, 230, 0.58);
}

.oxi-addons-flip-box-style-14 .oxi-addons-flip-box-back-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: #a6a6a6;
    border-radius: 6px 6px 6px 6px;
    padding: 0px
}

.oxi-addons-flip-box-style-14 .oxi-addons-flip-box-back-icon {
    text-align: center;
    width: 100%
}

.oxi-addons-flip-box-style-14 .oxi-addons-flip-box-back-icon-box {
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 1.00);
    border-width: 0px;
    border-style: solid;
    border-color: #999999;
    border-radius: 0px 0px 40px 40px;
    position: relative;
    top: 0;
    margin: 0 auto
}

.oxi-addons-flip-box-style-14 .oxi-addons-flip-box-back-icon i {
    font-size: 30px;
    color: #00beff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 0px 10px 0px
}

.oxi-addons-flip-box-style-14 .oxi-addons-flip-box-back-headding {
    width: 100%;
    color: #292929;
    text-align: Center;
    font-size: 22px;
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    padding: 10px 5px 5px 5px;
}

.oxi-addons-flip-box-style-14 .oxi-addons-flip-box-back-info {
    width: 100%;
    color: #292929;
    text-align: Center;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal;
    padding: 5px 5px 5px 5px;
}

.oxi-addons-flip-box-style-14 .oxi-addons-flip-box-back-button {
    width: 100%;
    float: left;
    text-align: center;
    padding: 5px
}

.oxi-addons-flip-box-style-14 .oxi-addons-flip-box-back-button-data {
    display: inline-block;
    color: #00beff;
    background-color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 100;
    font-style: normal;
    padding: 8px 20px;
    border-radius: 40px;
}

.oxi-addons-flip-box-style-14 .oxi-addons-flip-box-back-button-data:hover {
    color: #ffffff;
    background: rgba(27, 171, 104, 1.00);
    border-style: none;
    border-color: #f0f0f0;
    border-radius: 40px 40px 40px 40px
}