.oxi-addons-flip-box-style-26 * {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none
}

.oxi-addons-flip-box-style-26 {
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.oxi-addons-flip-box-style-26 .oxi-addons-flip-boxes-body:after {
    padding-bottom: 280px;
    content: "";
    display: block
}

.oxi-addons-flip-box-style-26 .oxi-addons-flip-box-front-section-box {
    width: 100%;
    height: 100%;
    float: left;
    border-radius: 10px 10px 10px 10px;
    background: rgba(76,78,115,1.00);
    box-shadow: 0px 2px 8px 0px rgba(194, 194, 194, 0.64);
    padding: 8px 8px 8px 8px;
}

.oxi-addons-flip-box-style-26 .oxi-addons-flip-box-front-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #ffffff;
    padding: 10px 10px 10px 10px;
}
.oxi-addons-flip-box-style-26 .oxi-addons-flip-box-front-icon  {
    width: 100%;
    text-align: center;
    font-family: "Open Sans";
    font-size: 35px;
    padding: 10px 10px 10px 10px;
    display : flex;
    justify-content: center;
    align-items: center;  
}

.oxi-addons-flip-box-style-26 .oxi-addons-flip-box-front-icon .oxi-number {
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 0px;
    width: 100%;
    background: rgba(95, 67, 232, 0.00);
    text-align: center;
    border-radius: 0px;
}

.oxi-addons-flip-box-style-26 .oxi-addons-flip-box-front-icon .oxi-number {
    font-family: "Open Sans";
    font-size: 35px;
}

.oxi-addons-flip-box-style-26 .oxi-addons-flip-box-front-headding {
    width: 100%;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.oxi-addons-flip-box-style-26 .oxi-addons-flip-box-back-section-box {
    width: 100%;
    height: 100%;
    float: left;
    border-radius: 10px 10px 10px 10px;
    background: rgba(160,118,44,1.00);
    padding: 8px 8px 8px 8px;
}

.oxi-addons-flip-box-style-26 .oxi-addons-flip-box-back-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 0px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.28);
}

.oxi-addons-flip-box-style-26 .oxi-addons-flip-box-back-headding {
    width: 100%;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    padding: 10px 10px 10px 10px;
    position: relative;
    text-align: center;
}

.oxi-addons-flip-box-style-26 .oxi-addons-flip-box-back-headding-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 2px;
    background: rgba(255, 255, 255, 1.00)
}

.oxi-addons-flip-box-style-26 .oxi-addons-flip-box-back-info {
    width: 100%;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.oxi-addons-flip-box-style-26 .oxi-addons-flip-box-back-button {
    width: 100%;
    float: left;
    text-align: center;
    padding: 6px 6px 6px 6px
}

.oxi-addons-flip-box-style-26  .oxi-addons-flip-box-back-button .oxi-addons-flip-box-back-button-data{
    display: inline-block;

    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    padding: 8px 20px 8px 20px;
    background: rgba(255, 255, 255, 1);
    color: #a0762c;
    border-radius: 30px 30px 30px 30px;
}

.oxi-addons-flip-box-style-26 .oxi-addons-flip-box-back-button .oxi-addons-flip-box-back-button-data:hover {

    background: rgba(117, 72, 166, 1);
    color: #ffffff;
    border-radius: 30px 30px 30px 30px;
}
