.oxi-addons-flip-box-style-21 * {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    text-decoration: none
}

.oxi-addons-flip-box-style-21 {
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    border-radius: 0px;
}

.oxi-addons-flip-box-style-21 .oxi-addons-flip-boxes-body:after {
    padding-bottom: 114.28571428571%;
    content: "";
    display: block
}

.oxi-addons-flip-box-style-21 .oxi-addons-flip-box-front-section-box {
    width: 100%;
    height: 100%;
    float: left;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 4px 0px rgba(204, 204, 204, 1);

}

.oxi-addons-flip-box-style-21 .oxi-addons-flip-box-front-section {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 4px 0px 0px 0px;
    border-color: #ec067b;
    padding: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.23);
}
.oxi-addons-flip-box-style-21 .oxi-addons-flip-box-front-section-overlay-image{   
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.oxi-addons-flip-box-style-21 .oxi-addons-flip-box-front-section-overlay-image:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    content: "";
    z-index: -1;
}
.oxi-addons-flip-box-style-21 .oxi-addons-flip-box-front-section-overlay-image img{   
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.oxi-addons-flip-box-style-21 .oxi-addons-flip-box-front-section-overlay {
    padding: 10px 0px 0px 0px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.oxi-addons-flip-box-style-21 .oxi-addons-flip-box-front-section-overlay i {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    line-height: 60px;
    border-width: 0px;
    border-style: none;
    border-color: #6048e8;
    border-radius: 0px 0px 0px 0px;
}
.oxi-addons-flip-box-style-21 .oxi-addons-flip-box-front-icon  {
    text-align: center;
    padding: 10px 0px 0px 0px;
    width: 100%;
}

.oxi-addons-flip-box-style-21 .oxi-addons-flip-box-front-heading {
    width: 100%;
    font-size: 22px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    line-height: 1.3;
    text-align: center;
    padding: 13px;
}

.oxi-addons-flip-box-style-21 .oxi-addons-flip-box-back-section-box {
    width: 100%;
    height: 100%;
    float: left;
    padding: 0px;
    border-radius: 5px 5px 5px 5px;
}

.oxi-addons-flip-box-style-21 .oxi-addons-flip-box-back-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 5px 5px;
    background: rgba(236, 6, 123, 1);
    padding: 10px 10px 10px 10px;
}

.oxi-addons-flip-box-style-21 .oxi-addons-flip-box-back-info {
    width: 100%;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 17px;
    line-height: 25px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.3;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.oxi-addons-flip-box-style-21 .oxi-addons-flip-box-back-button {
    width: 100%;
    text-align: center;
    padding: 10px 10px 10px 10px
}

.oxi-addons-flip-box-style-21 .oxi-addons-flip-box-back-button-data {
    display: inline-block;
    font-family: "Open Sans";
    font-size: 14px;
    padding: 8px 15px 8px 15px;
    background: rgba(255, 255, 255, 1);
    color: #ec067b;
    border-radius: 5px 5px 5px 5px;
}

.oxi-addons-flip-box-style-21 .oxi-addons-flip-box-back-button-data:hover {
    background: rgba(112, 19, 65, 1);
    color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}
